<!DOCTYPE html>
<html>
<head>
  <title>ChinaPcd</title>
  <%= stylesheet_link_tag    "china_pcd/application", media: "all" %>
  <%= javascript_include_tag "china_pcd/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
